*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: hsl(235, 18%, 26%);
    font-family: "Roboto", sans-serif;
}
img{
    display: block;
    max-width: 100%;
}

h1{
    font-size: 3rem;
    margin: 1.5rem 0px;
}
input {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 10px 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 80%;
}
button{
    background-color: hsl(234, 29%, 20%);
    padding: 10px ;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80%;
    margin-top: 1rem;
    cursor: pointer;
}
.image {
    width: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 30px 30px 30px 50px;
    border-radius: 10px;
    gap: 30px;
}
.container ul{
    list-style: none;
    margin-top: 2rem;
}
.container ul li{
    margin: 1rem 0px;
}
.form{
    margin-top: 30px;
}
.modal{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    width: 40%;
    display: block;
    margin: 0 auto;
}
.modal p{
    line-height: 1.5rem;
}
.modal button{
    display: block;
    margin: 20px auto;
    width: 100%;
    background-color: hsl(4, 100%, 67%);
    border-radius: 8px;
}
.modal .icon{
    width: 15%;
}
@media screen and (max-width:600px) {
    .container {
        flex-direction: column-reverse;
        width: 100%;
        padding: 15px;
    }
    button{
        width: 100%;
    }
    input{
        width: 100%;
    }
    .modal{
        width: 95%;
    }
}
@media screen and (max-width:900px){
    .container{
        flex-direction: column-reverse;
        width: 90%;
    }
    button{
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    input{
        width: 70%;
        
    }
}
@media screen and (min-width:912px) and (max-width:1280px) {
    .container{
        width: 80%;
    }
}